.container{
    background-color: aquamarine;
    margin: 2em 0em 0em 0em;
    padding:0em 0em 0em 0em;
}

.container nav ul {
    display: inline;
    list-style-type: none;
    position: absolute;
    
    top: 0;
    right: 0;
    text-align: right;
    background:inherit;
    
    z-index: 7;
    padding-top: 1em;
    padding-right: 1.5em
}

